<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 1 - Solution</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div id="app">

        Sayı 1 <input type="text" placeholder="0" v-model.number="number1">
        <br><br>
        Sayı 2 <input type="text" placeholder="0" v-model.number="number2">

        <br><br>

        <button @click="sum" :disabled="isTotalShowing">Topla</button> <!-- :disabled="total != null" -->

        {{ total }}

        <hr>

        <button @click="isShow = !isShow" v-bind:class="{'active': !clicked, 'show': clicked}"  v-on:click ="clicked = !clicked" @click="isShow = !isShow">{{ isShow == true ? 'Geçmişi Gizle' : 'Geçmişi Göster' }}</button>

        <ul v-if="isShow">
            <li v-for="(total,totalIndex) in totalsArray">{{ totalIndex + 1 }}. işlem'de {{ total }}</li>
        </ul>

    </div>

    <script src="app.js"></script>
</body>

</html>